/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .logo1 img {
    width: 200px;
    margin-top: 10px;
    margin-bottom: 40px;
  }
  
  /* Background */
  .register-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/f562aaf4-5dbb-4603-a32b-6ef6c2230136/dh0w8qv-9d8ee6b2-b41a-4681-ab9b-8a227560dc75.jpg/v1/fill/w_1192,h_670,q_70,strp/the_netflix_login_background__canada__2024___by_logofeveryt_dh0w8qv-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NzIwIiwicGF0aCI6IlwvZlwvZjU2MmFhZjQtNWRiYi00NjAzLWEzMmItNmVmNmMyMjMwMTM2XC9kaDB3OHF2LTlkOGVlNmIyLWI0MWEtNDY4MS1hYjliLThhMjI3NTYwZGM3NS5qcGciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.LOYKSxIDqfPwWHR0SSJ-ugGQ6bECF0yO6Cmc0F26CQs') no-repeat center center/cover;
    z-index: -1;
    filter: brightness(0.4);
  }
  
  /* Register Container */
  .register-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
  }
  
  /* Register Content */
  .register-content {
    background: rgba(0, 0, 0, 0.75);
    padding: 60px 68px 40px;
    border-radius: 8px;
    color: #fff;
    max-width: 450px;
    width: 100%;
  }
  
  /* Title */
  .register-content h1 {
    font-size: 2em;
    margin-bottom: 1em;
  }
  
  /* Form */
  .register-content form {
    display: flex;
    flex-direction: column;
  }
  
  /* Input */
  .register-content input {
    margin-bottom: 1em;
    padding: 15px;
    font-size: 1em;
    border: none;
    border-radius: 4px;
  }
  
  /* Button */
  .register-content button {
    padding: 15px;
    font-size: 1em;
    background-color: #e50914;
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .register-content button:hover {
    background-color: #f40612;
  }
  
  /* Extra Styles */
  .register-content .login-link {
    margin-top: 1em;
    font-size: 0.9em;
  }
  
  .register-content .login-link a {
    color: #fff;
    text-decoration: underline;
  }
  
  .register-content .login-link a:hover {
    text-decoration: none;
  }
  
  /* Error Message */
  .error-message {
    color: #e50914;
    margin-top: 10px;
  }
  